@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  color-scheme: dark;
}

.lexend-font {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}