---
import "../styles/global.css";

interface Props {
    title: string;
    description?: string;
}

const { title, description = "A Project Overlord Blog" } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body
        class="bg-zinc-950 text-zinc-100 antialiased min-h-screen flex flex-col lexend-font"
    >
        <header class="py-6 px-4 md:px-8 border-b border-zinc-800">
            <div class="max-w-4xl mx-auto flex justify-between items-center">
                <a
                    href="/"
                    class="text-xl font-bold tracking-tighter lexend-font"
                    >Project Overlord</a
                >
                <nav>
                    <ul
                        class="flex gap-6 text-sm font-medium text-zinc-400 lexend-font"
                    >
                        <li>
                            <a
                                href="/"
                                class="hover:text-zinc-100 transition-colors"
                                >Home</a
                            >
                        </li>
                        <li>
                            <a
                                href="/about"
                                class="hover:text-zinc-100 transition-colors"
                                >About</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="flex-grow">
            <slot />
        </main>

        <footer
            class="py-8 px-4 md:px-8 border-t border-zinc-800 text-center text-sm text-zinc-500"
        >
            <p>
                &copy; {new Date().getFullYear()} Ricky Marove. All rights reserved.
            </p>
        </footer>
    </body>
</html>
